<div align="center">
<h3 class="saira">Frequently Asked Questions</h3>
<mat-accordion>
	<mat-expansion-panel *ngFor="let q of questions">
		<mat-expansion-panel-header>
			<mat-panel-title>
				<b>{{q.question}}</b>
			</mat-panel-title>
		</mat-expansion-panel-header>
		<p [innerHTML]="q.answer"></p>
	</mat-expansion-panel>
</mat-accordion>
</div>
