.mat-expansion-panel{
	width: 80%;
}
*{
	font-family: 'Spartan', sans-serif;
}
.mat-expansion-panel-header{
	font-family: 'Spartan', sans-serif;
}
::ng-deep .mat-expansion-panel-header-title{
	padding: 5px;
}
::ng-deep .mat-expansion-panel-content{
	font-size: 16px;
	text-align: justify;
}
