*{
	font-family: 'Spartan', sans-serif;
}
.mat-grid-tile-header {
	background: #FF5722;
}
.mat-grid-tile{
}
.mat-card-title{
	font-size: 18px;
	font-weight: 700;
}
.mat-card-content{
	font-size: 12px;
}
.icon{
	color: #FF5722;
	padding: 8px;
}
.small{
	font-size: small;
	padding: 10px;
}
.centervert{
	font-family: 'Spartan', sans-serif;
	font-size: 18px;
	margin:5px;
	display:flex;
	align-items:center;
}
.centview{
	max-width: 700px;
}
