<div align="center">
	<div width="70%" class="centview">
		<div align="center" style="margin: 10px">
			<a mat-raised-button color="primary" href="https://app.zgo.cash/"><b>Get Started!</b></a>
		</div>
		<mat-grid-list [cols]="breakpoint" gutterSize="20px" rowHeight="4:1.5" (window.resize)="onResize($event)">
			<mat-grid-tile
				*ngFor="let tile of tiles">
				<mat-card>
					<mat-card-title>
						<p><fa-icon [icon]="tile.icon" class="icon" size="lg"></fa-icon>{{tile.title}}</p>
					</mat-card-title>
					<mat-card-content>
						<p class="small">{{tile.msg}}</p>
					</mat-card-content>
				</mat-card>
			</mat-grid-tile>
		</mat-grid-list>
	</div>
</div>
