<div align="center">
	<mat-tab-group>
		<mat-tab class="text" label="Login">
			<mat-horizontal-stepper>
				<mat-step label="Link Wallet">
					<p>You can access the ZGo app from <a href="https://app.zgo.cash/" target="_blank" rel="noopener noreferrer">app.zgo.cash</a>.</p>
					<div align="center">
						<img src="/assets/login1.png" width="60%"/>
					</div>
					<p>Click on Link Wallet and ZGo will provide a standard Zcash QR code that identifies your session.</p>
					<div align="center">
						<img src="/assets/login2.png" width="60%"/>
					</div>
					<mat-card class="cardborder">
						<div class="caution">
							<mat-icon class="icon" color="primary">tips_and_updates</mat-icon>Pro Tip: If you are logging into ZGo on the same device you hold your wallet and cannot scan the code, you can use the wallet link in the lower left.
						</div>
					</mat-card>
					<p>This QR code meets the <a href="https://zips.z.cash/zip-0321" target="_blank" rel="noopener noreferrer">Zcash URI standard</a>, allowing the user to scan
						this code, pre-populating ZGo's shielded address, the amount and the session identification.</p>
					<div align="center">
						<button mat-button matStepperPrevious type="button">
							<mat-icon class="icon">chevron_left</mat-icon>Back</button>
						<button mat-button matStepperNext type="button">
							Next<mat-icon class="icon">chevron_right</mat-icon></button>
					</div>
				</mat-step>
				<mat-step label="Send your login">
					<p>Below is a screenshot of the
					<a href="https://nighthawkwallet.com/" target="_blank" rel="noopener noreferrer">Nighthawk Wallet</a> on Android showing
					the result:
					</p>
					<div align="center">
						<img src="/assets/nighthawk.png" width="60%"/>
					</div>
					<mat-card class="cardborder">
						<div class="caution">
							<mat-icon class="icon" color="primary">warning</mat-icon>Providing your Reply-To shielded address is required to link your wallet with your ZGo shop.
						</div>
					</mat-card>
					<div align="center">
						<button mat-button matStepperPrevious type="button">
							<mat-icon class="icon">chevron_left</mat-icon>Back</button>
						<button mat-button matStepperNext type="button">
							Next<mat-icon class="icon">chevron_right</mat-icon></button>
					</div>
				</mat-step>
				<mat-step label="ZGo confirms your login">
					<p>
						ZGo scans the Zcash blockchain periodically while your login is broadcast to the network.
					</p>
					<div align="center">
						<img src="/assets/login3.png" width="60%"/>
					</div>
					<p>
						Once the login is found on the Zcash blockchain, the progress bar will show the confirmations needed
						on the transaction. When your login is confirmed on the blockchain, ZGo will send a one-time PIN to your
						wallet to validate ownership.
					</p>
					<div align="center">
						<img src="/assets/pin.png" width="60%"/>
					</div>
					<p>
						Enter the PIN and you have successfully logged in to your ZGo shop!
					</p>
					<div align="center">
						<img src="/assets/login4.png" width="60%"/>
					</div>
					<div align="center">
						<button mat-button matStepperPrevious type="button">
							<mat-icon class="icon">chevron_left</mat-icon>Back</button>
					</div>
				</mat-step>
			</mat-horizontal-stepper>
		</mat-tab>
		<mat-tab label="New Shop">
			<mat-horizontal-stepper>
				<mat-step label="Business Info">
					<p>
						The first time you link your wallet, we need some information about your business in order to set up your shop.
					</p>
					<div align="center">
						<img src="/assets/biz1.png" width="60%"/>
					</div>
					<p>
						Once your business' name, address and contact information is added, we require you to review and accept ZGo's 
						<a [routerLink]="['/info']">Terms of Use</a>. This information is subject to ZGo's <a [routerLink]="['/info']">Privacy Policy</a>.
					</p>
					<div align="center">
						<button mat-button matStepperNext type="button">
							Next<mat-icon class="icon">chevron_right</mat-icon></button>
					</div>
				</mat-step>
				<mat-step label="Session">
					<p>
						Now you can choose from these ZGo sessions: 
					</p>
					<div align="center">
						<img src="/assets/biz2.png" width="60%"/>
					</div>
					<p>
						ZGo will display a QR Code with the appropriate payment information for you to scan with your wallet. ZGo will then
						monitor the blockchain to confirm the payment and redirect you to your shop.
					</p>
					<div align="center">
						<button mat-button matStepperPrevious type="button">
							<mat-icon class="icon">chevron_left</mat-icon>Back</button>
					</div>
				</mat-step>
			</mat-horizontal-stepper>

		</mat-tab>
		<!--<mat-tab class="text" label="Settings">-->
			<!--<p>Settings</p>-->
		<!--</mat-tab>-->
	</mat-tab-group>
</div>
