
*{
	font-family: 'Spartan', sans-serif;
}
::ng-deep .mat-tab-group{
	width: 75%;
	text-align: left;
}
::ng-deep .mat-tab-label .mat-tab-label-content{
	font-family: 'Spartan', sans-serif;
}

::ng-deep .mat-step-label{
	font-size: 13px;
}

.icon{
	font-family: 'Material Icons';
}
div.caution{
	display: flex;
	align-items: center;
}
.cardborder{
	border: 3px solid #FF5722;
}
