.mat-card{
	width: 50%;
	border: 1px solid #FF5722;
	margin: 10px;
}
.mat-card-title{
	font-size: 18px;
	font-weight: 700;
}
.mat-card-content{
	font-size: 16px;
}
.text{
	font-family: 'Spartan', sans-serif;
}
.mat-list-item {
	font-family: 'Spartan', sans-serif;
}
.contact{
	color: #FF5722;
	margin: 3px;
}
