<div align="center" width="80%">
	<mat-card class="text">
		<mat-card-title>
			Upcoming Features
		</mat-card-title>
		<mat-card-content>
				<div align="left" *ngFor="let item of items">
					<p><fa-icon matListIcon class="contact" [icon]="faChevronCircleRight"></fa-icon>
					{{item.text}}</p>
				</div>
		</mat-card-content>
	</mat-card>
</div>
