<div align="center" width="75%">
	<mat-card class="text">
		<table>
			<tr>
				<td align="center">
					<fa-icon class="contact" [icon]="faTwitter" size="lg"></fa-icon>
				</td>
				<td>
					<a href="https://twitter.com/ZGoCashApp" target="_blank" rel="noopener noreferrer">@ZGoCashApp</a>
				</td>
			</tr>
			<tr>
				<td align="center">
					<fa-icon class="contact" [icon]="faEnvelopeSquare" size="lg"></fa-icon>
				</td>
				<td>
					<a href="mailto:contact@zgo.cash">E-mail us</a>
				</td>
			</tr>
			<tr>
				<td align="center">
					<img class="icon" src="/assets/zcash-zgo.png" width="20px" />
				</td>
				<td>
					<a href="https://www.z2z.to/zgo" target="_blank" rel="noopener noreferrer">Z2Z</a>
				</td>
			</tr>
			<tr>
				<td align="center">
					<fa-icon class="contact" [icon]="faGitlab" size="lg"></fa-icon>
				</td>
				<td>
					<a href="https://gitlab.com/pitmutt/zgo-website" rel="noopener noreferrer">Website Repo</a><br>
					<a href="https://gitlab.com/pitmutt/zgo" rel="noopener noreferrer">App Front End Repo</a><br>
					<a href="https://gitlab.com/pitmutt/zgo-backend" rel="noopener noreferrer">App Back End Repo</a>
				</td>
			</tr>
		</table>
	</mat-card>
</div>
