.contact{
	color: #FF5722;
	margin: 8px;
}
.mat-card{
	width: 50%;
	border: 1px solid #FF5722;
	margin: 10px;
}
.text{
	font-family: 'Spartan', sans-serif;
	/*font-family: 'Roboto Mono', monospace;*/
}
img{
	margin: 8px;
	vertical-align: middle;
}
