<div align="center">
	<mat-card>
		<mat-card-title>
			System Information
		</mat-card-title>
		<mat-card-content>
			<ul>
				<li>ZGo Website: version 1.0.7</li>
				<li>ZGo App: version 1.1.1</li>
				<li>Server: Ubuntu 20.04.3 LTS, Kernel 5.4.0-121</li>
				<li>Zcash Full Node 5.1.0</li>
				<li>NodeJS 14.20</li>
				<li>MongoDB 5.0.9</li>
			</ul>
		</mat-card-content>
	</mat-card>
	<mat-card>
		<mat-card-title>
			Canary
		</mat-card-title>
		<mat-card-content>
			<a href="/assets/pubkey.asc" target="_blank">ZGo Signing Key</a>: <span class="tt">DB31 3694 8E69 2707 FA3D  5DDF E96E D5AC CD66 0A2B</span>
			<ul>
				<li><a href="/assets/wc/wc-2022-07-01.txt.asc" target="_blank">July 2022</a></li>
				<li><a href="/assets/wc/wc-2022-06-01.txt.asc" target="_blank">June 2022</a></li>
				<li><a href="/assets/wc/wc-2022-05-01.txt.asc" target="_blank">May 2022</a></li>
				<li><a href="/assets/wc/wc-2022-04-11.txt.asc" target="_blank">April 2022</a></li>
				<li><a href="/assets/wc/wc-2022-03-01.txt.asc" target="_blank">March 2022</a></li>
				<li><a href="/assets/wc/wc-2022-02-01.txt.asc" target="_blank">February 2022</a></li>
			</ul>
		</mat-card-content>
	</mat-card>
	<mat-card>
		<mat-card-title>Terms of Use</mat-card-title>
		<mat-card-content [style.overflow]="'auto'" [style.height.px]="'400'">
			<p>THIS TERMS OF USE AGREEMENT ("Agreement") is made between Vergara Technologies LLC ("Company") as operator of ZGo.cash and any person or entity ("User") who completes the process to utilize, or operate the software known as the ZGo application, and data processing service, communication service or other content or offered or provided with the software by the Company ("Software"). The Company and User are collectively referred to as the "Parties." BY CLICKING THE ACCEPTANCE BUTTON OR ACCESSING, USING ANY PART OF THE SOFTWARE, USER EXPRESSLY AGREES TO AND CONSENTS TO BE LEGALLY BOUND BY ALL OF THE TERMS OF THIS AGREEMENT. IF USER DOES NOT AGREE TO ALL OF THE TERMS OF THIS AGREEMENT, THE USER SHALL NOT BE AUTHORIZED TO ACCESS OR USE ANY PART OF THE SOFTWARE.
			</p>
			<h4>1. Rights and Obligations</h4>
			<ol type="a">
				<li>Description. The Software functions as an open source, digital point-of-sale application. The Software does not constitute an account by which the Company or any other third parties serve as financial intermediaries or custodians of User's Zcash or any other cryptocurrency. While the Software has undergone beta testing and continues to be improved by feedback from the developers community, open-source contributors and beta-testers, the Company cannot guarantee that there will be no bugs in the Software. User acknowledges that User's use of the Software is at User's risk, discretion and in compliance with all applicable laws. User is responsible for safekeeping User's passwords, PINs, private keys, viewing keys, backup recovery mnemonic passphrases and any other codes User uses to access the Software or any information, Zcash, or other cryptocurrency unit. IF USER LOSES ACCESS TO USER'S CRYPTOCURRENCY WALLET OR PRIVATE KEYS AND HAS NOT SEPARATELY STORED A BACKUP OF USER'S CRYPTOCURRENCY WALLET OR BACKUP RECOVERY MNEMONIC PHRASE(S) AND CORRESPONDING PASSWORD(S), USER ACKNOWLEDGES AND AGREES THAT ANY ORDERS OR ANY OTHER DATA USER HAS ASSOCIATED WITH THAT CRYPTOCURRENCY WALLET WILL BECOME INACCESSIBLE. All transaction requests are irreversible. The Company and its shareholders, directors, officers, employees, affiliates and agents cannot guarantee transaction confirmation or retrieve User's private keys or passwords if User loses or forgets them.</li>
				<li>Accessibility. User agrees that from time to time the Software may be inaccessible or inoperable for any reason, including, without limitation: (i) equipment malfunctions; (ii) periodic maintenance procedures or repairs which the Company may undertake from time to time; or (iii) causes beyond the control of the Company or which are not reasonably foreseeable by the Company.</li>
				<li>Equipment. User shall be solely responsible for providing, maintaining and ensuring compatibility with the Software, all hardware, software, electrical and other physical requirements for User's use of the Software, including, without limitation, telecommunications and internet access connections and links, web browsers or other equipment, compatible Zcash wallets, programs and services required to access and use the Software.</li>
				<li>Security. User shall be solely responsible for the security, confidentiality and integrity of all information and content that User receives, transmits through or stores on the Software. User shall be solely responsible for any authorized or unauthorized access to any account of User by any person. User agrees to bear all responsibility for the confidentiality of User's security devices, information, keys, and passwords.</li>
				<li>Privacy. When reasonably practicable, the Company will attempt to respect User's privacy. The Company will not monitor, edit, or disclose any personal information about User or User's account, including its contents or User's use of the Software, without User's prior consent unless the Company believes in good faith that such action is necessary to: (i) comply with legal process or other legal requirements of any governmental authority; (ii) protect and defend the rights or property of the Company; (iii) enforce this Agreement; (iv) protect the interests of users of the Software other than User or any other person; or (v) operate or conduct maintenance and repair of the Company's services or equipment, including the Software as authorized by law. User has no expectation of privacy with respect to the Internet generally.</li>
			</ol>
			<h4>2. Taxes and Fees</h4>
			<p>All currency conversion charges, third party fees, sales, use, value-added, personal property or other tax, duty or levy of any kind, including interest and penalties thereon, whether imposed now or hereinafter by any governmental entity, and fees incurred by User by reason of User's access or use of the Software shall be the sole responsibility of User.</p>
			<h4>3. User Representations</h4>
			<p>User represents and warrants to the Company that:</p>
			<ol type="a">
				<li>If User is a natural person, User is over the age of eighteen (18).</li>
				<li>User has the power and authority to enter into and perform User's obligations under this Agreement.</li>
				<li>All information provided by User to the Company is truthful, accurate and complete</li>
				<li>User will comply with all laws and regulations of any applicable jurisdiction with regard to User's access or use of the Software</li>
				<li>User shall comply with all terms and conditions of this Agreement, including, without limitation, the provisions set forth at Section</li>
				<li>User has provided and will provide accurate and complete information as required for access, use or installation of the Software.</li>
				<li>User is not a citizen, national, or resident of Russia, Cuba, North Korea, Iran or Syria.</li>
			</ol>
			<h4>4. Prohibited uses</h4>
			<p>User is solely responsible for any and all acts and omissions that occur under User's account, security information, keys or password, and User agrees not to engage in unacceptable use of the Software, which includes, without limitation, use of the Software for activities that:</p>
			<ol type="a">
				<li>Violate any law, statute, ordinance or regulation.</li>
				<li>Create a false identity or to otherwise attempt to mislead any person as to the identity of the merchant.</li>
				<li>Interfere, disrupt or attempt to gain unauthorized access to other accounts on the Software or any other computer network</li>
				<li>Relate to transactions involving:</li>
				<ol type="i">
					<li>Narcotics, certain controlled substances or other products that present a risk to consumer safety.</li>
					<li>Items that encourage, promote, facilitate or instruct others to engage in illegal activity.</li>
					<li>Stolen goods including digital and virtual goods.</li>
					<li>The promotion of hate, violence, racial or other forms of intolerance that is discriminatory.</li>
					<li>Items that infringe or violate any copyright, trademark, right of publicity or privacy or any other proprietary right under the laws of any jurisdiction.</li>
					<li>Certain weapons or knives regulated under applicable law.</li>
					<li>Showing the personal information of third parties in violation of applicable law.</li>
					<li>Pyramid or ponzi schemes, matrix programs, other "get rich quick" schemes or certain multi-level marketing programs.</li>
					<li>Purchases of annuities or lottery contracts, lay-away systems, off-shore banking or transactions to finance or refinance debts funded by a credit card.</li>
					<li>Sale of certain items before the seller has control or possession of the item.</li>
					<li>Sale of traveler's checks or money orders.</li>
					<li>Certain credit repair, debt settlement services, credit transactions or insurance activities.</li>
					<li>Offering or receiving payments for the purpose of bribery or corruption.</li>
					<li>Sales of products or services identified by government agencies to have a high likelihood of being fraudulent.</li>
					<li>Any activity that requires pre-approval without having obtained said approval.</li>
				</ol>
			</ol>
			<h4>5. Activities requiring approval</h4>
			<p>ZGo.cash requires pre-approval to provide access to the application for certain services, including but not limited to:</p>
			<ol type="a">
				<li>Payment Facilitator. Providing payment services which would fall under the definition of a money service business or an electronic money institution. Services would also include the sale of stored value cards and escrow services.</li>
				<li>Investments. Buying, selling, or brokering stocks, bonds, securities, options, figures, commodities, contracts for difference/forex, mutual funds or an investment interest in any entity or property.</li>
				<li>Gambling, Gaming, Prize Draws and Contests. Activities involving gambling, gaming and/or any other activity with an entry fee and a prize, including, but not limited to property/real estate prizes, casino games, sports betting, horse or greyhound racing, fantasy sports, lottery tickets, other ventures that facilitate gambling, games of skill (whether or not legally defined as gambling) and sweepstakes, if the operator and customers are located exclusively in jurisdictions where such activities are permitted by law.</li>
				<li>Prescription Items. The sale of any product(s) requiring a prescription or prescription dispensing services.</li>
				<li>Mature Audience Content. Any adult content delivered digitally including video on demand (VOD) and web-cam activities.</li>
				<li>Alcohol.</li>
				<li>Tobacco.</li>
				<li>Medical Items or Services. All items classified as medical devices, and all services or treatment provided by a person or organization holding itself out as a provider of health-care services, including, but not limited to, all health-care services for which government licensure is required in the provider’s jurisdiction or in the jurisdiction where services are being provided. This category includes “Medical Tourism” involving medical services to be provided to a patient outside of that patient’s home country.</li>
			</ol>
			<h4>6. Termination</h4>
			<p>This Agreement is effective upon User's acceptance as set forth herein and shall continue in full force so long as User engages in any access, use or installation of the Software. The Company reserves the right, in its sole discretion and without notice, at any time and for any reason, to:</p>
			<ol type="a">
				<li>Remove or disable access to all or any portion of the Software</li>
				<li>Suspend User's access to or use of all or any portion of the Software</li>
				<li>Terminate this Agreement.</li>
			</ol>
			<h4>7. Disclaimer of Warranties</h4>
			<p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED. USE OF THE SOFTWARE IS AT USER'S SOLE RISK. THE COMPANY DOES NOT WARRANT THAT THE SOFTWARE WILL BE UNINTERRUPTED OR ERROR FREE, NOR DOES THE COMPANY MAKE ANY WARRANTY AS TO ANY RESULTS THAT MAY BE OBTAINED BY USE OF THE SOFTWARE. THE COMPANY MAKES NO OTHER WARRANTIES, EXPRESS OR IMPLIED. THE COMPANY EXPRESSLY DISCLAIMS ANY WARRANTY OF MERCHANTABILITY, WARRANTY OF SUITABILITY FOR A PARTICULAR PURPOSE, WARRANTY OF TITLE OR INTEREST, OR WARRANTY OF NONINFRINGEMENT.</p>
			<h4>8. Limitation of Liability</h4>
			<p>IN NO EVENT SHALL THE COMPANY OR ITS SHAREHOLDERS, DIRECTORS, OFFICERS, EMPLOYEES, AFFILIATES OR AGENTS, OR ANY OF ITS OR THEIR RESPECTIVE SERVICE PROVIDERS, BE LIABLE TO USER OR ANY THIRD PARTY FOR ANY USE, INTERRUPTION, DELAY OR INABILITY TO USE THE SOFTWARE, LOST REVENUES OR PROFITS, DELAYS, INTERRUPTION OR LOSS OF SERVICES, BUSINESS OR GOODWILL, LOSS OR CORRUPTION OF DATA, LOSS RESULTING FROM SYSTEM OR SYSTEM SERVICE FAILURE, MALFUNCTION OR SHUTDOWN, FAILURE TO ACCURATELY TRANSFER, READ OR TRANSMIT INFORMATION, FAILURE TO UPDATE OR PROVIDE CORRECT INFORMATION, SYSTEM INCOMPATIBILITY OR PROVISION OF INCORRECT COMPATIBILITY INFORMATION OR BREACHES IN SYSTEM SECURITY, OR FOR ANY CONSEQUENTIAL, INCIDENTAL, INDIRECT, EXEMPLARY, SPECIAL OR PUNITIVE DAMAGES, WHETHER ARISING OUT OF OR IN CONNECTION WITH THIS AGREEMENT, BREACH OF CONTRACT, TORT (INCLUDING NEGLIGENCE) OR OTHERWISE, REGARDLESS OF WHETHER SUCH DAMAGES WERE FORESEEABLE AND WHETHER OR NOT WE WERE ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. IN NO EVENT SHALL THE COMPANY OR ITS SHAREHOLDERS, DIRECTORS, OFFICERS, EMPLOYEES, AFFILIATES OR AGENTS, OR ANY OF ITS OR THEIR RESPECTIVE SERVICE PROVIDERS, BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM OR IN ANY WAY RELATED TO USER'S ACCESS, USE OR INSTALLATION OF THE SOFTWARE. SOME JURISDICTIONS PROHIBIT THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, THUS THIS LIMITATION OF LIABILITY MAY NOT APPLY TO USER. IF USER IS DISSATISFIED WITH THE SOFTWARE, USER'S SOLE AND EXCLUSIVE REMEDY SHALL BE FOR USER TO DISCONTINUE USE OF THE SOFTWARE.</p>
			<h4>8. Indemnification</h4>
			<p>User agrees to indemnify, hold harmless and defend the Company, its shareholders, directors, officers, employees, affiliates and agents ("Indemnified Parties") from and against any action, cause, claim, damage, debt, demand or liability, including reasonable costs and attorney's fees, asserted by any person, arising out of or relating to:</p>
			<ol type="a">
				<li>This Agreement</li>
				<li>User's access, use or installation of the Software, including any data or work transmitted or received by User</li>
				<li>Any unacceptable use of the Software by any person, including, without limitation, any statement, data or content made, transmitted or republished by User or any person which is prohibited as unacceptable under Section 4.</li>
			</ol>
			<p>THIS INDEMNIFICATION INCLUDES THE EXPRESS INDEMNIFICATION OF THE COMPANY AND ALL INDEMNIFIED PARTIES FOR ANY ALLEGED NEGLIGENCE (INCLUDING ANY ALLEGED GROSS NEGLIGENCE). OR OTHER ALLEGED MISCONDUCT OF THE COMPANY OR ANY INDEMNIFIED PARTIES.</p>
			<h4>9. Intellectual Property</h4>
			<p>The Company retains all right, title, and interest in and to all of the Company's brands, logos, and trademarks, including, but not limited to, Vergara Technologies LLC, ZGo, ZGo.cash, ZGo Cash App, and variations of the wording of the aforementioned brands, logos, and trademarks.</p>
			<h4>10. Warnings</h4>
			<p>User acknowledges that the Company shall not be responsible for transferring, safeguarding, or maintaining private keys and/or User's Zcash or any other cryptocurrency. If User and/or any co-signing authorities lose, mishandle, or have stolen associated private keys, or if User's cosigners refuse to provide requisite authority, User acknowledges that User may not be able to recover User's Zcash or any other cryptocurrency, and that the Company shall not be responsible for such loss.</p>
			<p>User acknowledges and agrees that Zcash or any other cryptocurrency transactions facilitated by the Software and/or the Company may be delayed, and that the Company shall not be responsible for any associated loss. User acknowledges and agrees that the Company shall not be responsible for any aspect of the information, content, or services contained in any third-party materials or on any third party sites accessible or linked to the Software and/or the Company.</p>
			<p>By using the Software, User acknowledges and agrees: (i) that the Company is not responsible for the operation of the underlying protocols and that the Company makes no guarantee of their functionality, security, or availability; and (ii) that the underlying protocols are subject to sudden main-chain changes in operating rules ("forks"), and that such forks may materially affect the value, and/or function of Zcash or any other cryptocurrency that may be supported on the Software. In the event of a fork, User agrees that the Company may temporarily suspend the Software operations (with or without notice to User) and that the Company may, in its sole discretion,</p>
			<ol type="a">
				<li>Configure or reconfigure its systems, or</li>
				<li>decide not to support (or cease supporting) the forked protocol entirely.</li>
			</ol>
			<p>User acknowledges and agrees that the Company assumes absolutely no responsibility whatsoever in respect of an unsupported branch of a forked protocol.</p>
			<h4>11. Miscellaneous</h4>
			<ol type="a">
				<li>Amendment. The Company shall have the right, at any time and without notice, to add to or modify the terms of this Agreement, simply by delivering such amended terms to User by electronic message through any medium to any address provided to the Company by User. User's access to or use of the Software after the date such amended terms are delivered to User shall be deemed to constitute acceptance of such amended terms.</li>
				<li>Severance. If any provision or part-provision of this Agreement is, or becomes invalid, illegal or unenforceable, it shall be deemed modified to the minimum extent necessary to make it valid, legal and enforceable. If such modification is not possible, the relevant provision or part-provision shall be deemed deleted. Any modification to or deletion of a provision or part-provision under this Article shall not affect the validity and enforceability of the rest of this Agreement.</li>
				<li>Entire Agreement – Disclaimer of Reliance. This Agreement constitutes the entire agreement between the Parties with respect to the subject matter hereof and supersedes all prior agreements or understandings between the Parties. User expressly represents and warrants that it is not relying upon any statements, understandings, representations, expectations or agreements other than those expressly set forth in this Agreement.</li>
				<li>THIS AGREEMENT IS SUBJECT TO BINDING ARBITRATION. User agrees that any and all disputes or claims against any person arising out of or in any way related to this Agreement or the access, use or installation of the Software by User or any other person shall be subject to binding arbitration under the Rules of Arbitration of the International Chamber of Commerce by one or more arbitrators appointed in accordance with the said Rules. The location of the arbitration shall be the state of Minnesota in the United States. The language of the arbitration shall be English.</li>
				<li>LANGUAGE. Any translation of this Agreement is made for purposes of local reference only and in the event of any inconsistency between the English and any non-English versions, the English version of this Agreement shall prevail and govern in all respects.</li>
			</ol>
		</mat-card-content>
	</mat-card>
	<mat-card>
		<mat-card-title>Privacy Policy</mat-card-title>
		<mat-card-content [style.overflow]="'auto'" [style.height.px]="'400'">
			<p>Updated on 2022-02-11.</p>
			<p>This Privacy Policy ("Policy") explains how Vergara Technologies LLC ("Company", "we", "us") collects, uses, and discloses information about Users. We consider any person or entity who completes the process to utilize, or operate the software known as the ZGo application, and data processing service, communication service or other content or offered or provided with the software by the Company ("Software") as a User.</p>
			<p>This Policy may change from time to time, if a change is made, the date at the top of this Policy will be updated and we may provide with additional notice of the changes.</p>
			<h4>1. Information Collection</h4>
			<ul>
				<li><b>User-provided Information:</b><p>Information Users provide when signing up for ZGo, using the application or communicating with us. The types of information we may collect include your business name, business contact name, business address, business e-mail address, business website address, business Zcash shielded address, items loaded into the app, orders created in the app and any other information you may choose to provide.</p></li>
				<li>
					<b>System-collected Information:</b>
					<p>Information collected by the application for its operation. We collect the session identifier that links your device to ZGo.</p>
					<p>We do not collect data about the device and network you use, such as hardware model, operating system, mobile network, IP address or browser type. </p>
				</li>
				<li>
					<b>Cookies and similar tracking technologies:</b>
					<p>We do not use cookies, web beacons, pixel tags or any similar tracking technology.</p>
				</li>
				<li>
					<b>Other sources</b>
					<p>We do not use any third-party source for information about our Users.</p>
				</li>
			</ul>
			<h4>2. Use of Information</h4>
			<p>We use the information we collect to provide and maintain the ZGo service, a digital point-of-sale application. We also use the information we collect to: </p>
			<ul>
				<li>
					Create and maintain your ZGo shop.
				</li>
				<li>Process transactions and send related information, such as confirmations, receipts and user experience surveys.</li>
				<li>
					Send technical notices, security alerts and administrative messages.
				</li>
				<li>
					Respond to your comments and questions and provide customer support.
				</li>
				<li>
					Send information about new features and services offered by the Company.
				</li>
				<li>
					Monitor usage, trends and activites on the ZGo service.
				</li>
				<li>
					Detect, investigate and prevent malicious, deceptive, fraudulent or illegal activity, violations of the Terms of Use and protect the rights and property of the Company and others.
				</li>
				<li>
					Identify and repair errors on the ZGo service.
				</li>
				<li>
					Comply with our legal and financial obligations.
				</li>
			</ul>
			<h4>3. Sharing of Information</h4>
			<p>We share the information we collect under the following circumstances, or as otherwise specified in this Policy:</p>
			<ul>
				<li>
					We share information with service providers that need the information in order to provide us with web hosting, storage and other infrastructure.
				</li>
				<li>
					We may disclose personal information if we believe that disclosure is in accordance with, or required by, any applicable law or legal process, including lawful requests by government agencies. If we are going to disclose your personal information in response to legal process, we will give you notice so you can challenge it (for example by seeking court intervention), unless we are prohibited by law or believe doing so may endanger others or cause illegal conduct. We will object to legal requests for information about users of our Service that we believe are improper.
				</li>
				<li>
					We may share personal information if we believe that your actions are inconsistent with our user agreements or policies, if we believe that you have violated the law, or if we believe it is necessary to protect the rights, property, and safety of the Company, our users, the public, or others.
				</li>
				<li>
					We may share personal information with our lawyers and other professional advisors where necessary to obtain advice or otherwise protect and manage our business interests.
				</li>
			</ul>
			<p>We do not sell any information we collect to third parties.</p>
			<h4>4. Data Storage</h4>
			<p>We are an American company and to operate our service, we may send your personal information outside of your state, province or country.</p>
			<p>We work hard to ensure the security and integrity of our service. However, we know that no method of transmission over the Internet and method of electronic storage is 100% secure. This means we cannot guarantee the absolute security of your personal information.</p>
			<h4>5. Contact Information</h4>
			<p>If you would like to ask about this policy or make a request regarding your data, please send an e-mail to <a href="mailto:contact@zgo.cash">contact@zgo.cash</a>, or mail your request to:</p>
			<p>Vergara Technologies LLC<br>540 Lake Street<br>Suite A<br>Excelsior, MN 55331<br>United States</p>
		</mat-card-content>
	</mat-card>
</div>
