.mat-card{
	font-family: 'Spartan', sans-serif;
	border: 1px solid #FF7522;
	width: 80%;
	text-align: left;
	margin: 5px;
	max-width: 650px;
}
.mat-card-title{
	font-size: 16px;
	font-weight: 700;
	text-align: center;
}
.mat-card-subtitle{
	font-size: 12px;
	font-weight: 200;
}
.mat-card-content{
	font-size: 14px;
	text-align: justify;
}
img {
	float: right;
	margin: 5px;
}
p {
	text-align: justify;
}
