<div align="center">
	<mat-card>
		<mat-card-title>
			Beta Testing Partner Program
		</mat-card-title>
		<mat-card-content>
			<img width="50%" src="/assets/partner.png" />
			<h4>Purpose</h4>
			<p>ZGo intends to partner with businesses that are interested in testing the app in their operations in order to obtain high-quality feedback on ZGo's usability and features.</p>
			<h4>Benefits</h4>
			<ul>
				<li>One month of free access to ZGo.</li>
				<li>Direct support from ZGo team for setup and usage through our Matrix server.</li>
				<li>Opportunity to provide input for new and upcoming ZGo features.</li>
				<li>Option to be featured on the ZGo website.</li>
			</ul>
			<p>If you would like to participate, <a href="mailto:contact@zgo.cash">email us</a> to get started!</p>
		</mat-card-content>
	</mat-card>
</div>
