mat-card.coolcard {
	background-color: #FF5722;
	color: #FFFFFF;
	margin: 10px;
}
.mat-tab-link {
	font-family: 'Spartan', sans-serif;
}
.text{
	font-family: 'Spartan', sans-serif;
	font-size: 12px;
}
p.icons {
	color: #FF5722;
}
.icons img{
	vertical-align: middle;
}
.saira {
	font-family: 'Spartan', sans-serif;
	font-weight: 1000;
}
