<div align="center" class="text">
	<mat-card class="coolcard">
		<img height="120px" src="/assets/logo-new-white.png" />
		<h2 class="saira">The Zcash Register</h2>
	</mat-card>
</div>

<nav mat-tab-nav-bar>
	<a mat-tab-link [routerLink]="['/about']" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
		Home
	</a>
	<a mat-tab-link [routerLink]="['/news']" routerLinkActive #rln="routerLinkActive" [active]="rln.isActive">
		News
	</a>
	<a mat-tab-link [routerLink]="['/guide']" routerLinkActive #rlg="routerLinkActive" [active]="rlg.isActive">
		Guides
	</a>
	<a mat-tab-link [routerLink]="['/demo']" routerLinkActive #rld="routerLinkActive" [active]="rld.isActive">
		Demo
	</a>
	<a mat-tab-link [routerLink]="['/partners']" routerLinkActive #rlp="routerLinkActive" [active]="rlp.isActive">
		Partners
	</a>
	<a mat-tab-link [routerLink]="['/faq']" routerLinkActive #rlf="routerLinkActive" [active]="rlf.isActive">
		FAQ
	</a>
	<a mat-tab-link [routerLink]="['/info']" routerLinkActive #rli="routerLinkActive" [active]="rli.isActive">
		Info
	</a>
	<a mat-tab-link [routerLink]="['/contact']" routerLinkActive #rlc="routerLinkActive" [active]="rlc.isActive">
		Contact Us
	</a>
</nav>
<router-outlet></router-outlet>
<mat-divider></mat-divider>
<div align="center" class="text">
	<p><fa-icon [icon]="faCopyright" size="sm"></fa-icon>2022 Vergara Technologies LLC</p>
	<p>Powered by:</p>
	<p class="icons"><img src="/assets/zcash-zgo.png" width="24px" /><fa-icon [icon]="faAngular" size="lg"></fa-icon><fa-icon [icon]="faNode" size="lg"></fa-icon></p>
</div>
