<div align="center">
	<table cellspacing="0">
		<tr>
			<td>
				<mat-card *ngFor="let note of news">
					<mat-card-title>
						{{note.title}}
					</mat-card-title>
					<mat-card-subtitle>
						{{note.date | date: 'short'}}
					</mat-card-subtitle>
					<mat-card-content [innerHtml]="note.content">
					</mat-card-content>
				</mat-card>
			</td>
			<td>
				<mat-card class="text">
					<mat-card-title>
						Upcoming Features
					</mat-card-title>
					<mat-card-content>
						<div align="left" *ngFor="let item of items">
							<p><fa-icon matListIcon class="contact" [icon]="faChevronCircleRight"></fa-icon>
								{{item.text}}</p>
						</div>
					</mat-card-content>
				</mat-card>
			</td>
		</tr>
	</table>
</div>
