/* You can add global styles to this file, and also import other style files */
@import './custom-theme.scss';
@font-face {
	font-family: 'Spartan';
	src: url('./assets/Spartan[wght].ttf');
}
html, body { height: 100%; }
body {margin:0; font-family: 'Spartan', sans-serif; }
.card-container .card:not(.highlight-card):hover {
	transform: translateY(-3px);
	box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}
